.page-list {
  margin-top: 50px;
  padding: 0 0 100px 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
    background-color: #21282d;
}

.item {
  border: solid 1px #aadcd3;
  display: block;
  padding: 10px 20px;
  background-color: transparent;
  color: #aadcd3;
}

.item:hover {
  cursor: pointer;
  color: #fffefe;
  background-color: #4c4e4f;
}

.active {
  display: block;
  padding: 10px 20px;
  color: #21282d;
  background-color: #aadcd3;
}