.page {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  color: #a1cdcc;
}

.title {
  margin-bottom: 20px;
  color: #da5161;
  font-weight: 600;
}


@media all and (max-width: 530px) {
  .title {
    font-size: 30px;
    line-height: 35px;
  }
}