.btn {
  background-color: #da5161;
  padding: 10px;
  color: #30303f;
  width: 130px;
  border: solid 1px transparent;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 400;
  transition: linear .5s;
}

.btn:hover {
  cursor: pointer;
  border: solid 1px #da5161;
  background-color: transparent;
  color: #da5161;
}

.btn_open {
  margin-right: 10px;
  background-color: #a1cdcc;
  padding: 10px;
  color: #30303f;
  width: 130px;
  border: solid 1px transparent;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 400;
  transition: linear .5s;
}

.btn_open:hover {
  cursor: pointer;
  border: solid 1px #a1cdcc;
  background-color: transparent;
  color: #a1cdcc;
}

.btn_modal {
  margin-right: 10px;
  background-color: #a1cdcc;
  padding: 10px;
  color: #30303f;
  width: 160px;
  border: solid 1px transparent;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 400;
  transition: linear .5s;
}

.btn_modal:hover {
  cursor: pointer;
  border: solid 1px #a1cdcc;
  background-color: transparent;
  color: #a1cdcc;
}

@media all and (max-width: 655px) {
  .btn_modal {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media all and (max-width: 470px) {

  .btn_open,
  .btn {
    width: 100%;
    margin: 0;
  }

  .btn_open {
    margin-bottom: 10px;
  }
}