.page {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #da5161;
  text-align: left;
}

@media all and (max-width: 655px) {
  .actions {
    flex-direction: column;
  }
}

@media all and (max-width: 530px) {
  .page h1 {
    font-size: 30px;
    line-height: 35px;
  }
}