.list-item {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #a1cdcc;
  background: transparent;
  color: #a1cdcc;
}

.content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.info {
  flex-grow: 2;
  margin-right: 20px;
}

.info h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.buttons {
  display: flex;
  align-items: center;
}

.info p {
  margin-top: 10px;
}

@media all and (max-width: 1140px) {
  .content {
    display: block;
  }

  .buttons {
    margin-top: 20px;
  }
}

@media all and (max-width: 470px) {

  .buttons {
    flex-direction: column;
  }
}

@media all and (max-width: 405px) {
  .info h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .info p {
    display: none;
  }
}