.list-item {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #aadcd3;
  background: transparent;
  color: #aadcd3;
}

.content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.info {
  flex-grow: 2;
  margin-right: 20px;
}

.info h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.buttons {
  display: flex;
  align-items: center;
}

.info p {
  margin-top: 10px;
}