.form {
  margin: 30px auto 0;
  height: 100vh;
}

.title {
  margin-bottom: 30px;
  color: #a1cdcc;
  font-weight: 600;
}

.input {
  display: flex;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: transparent;
  border-radius: 10px;
  outline: none;
}

.btn {
  margin: 30px auto;
  display: block;
  color: #a1cdcc;
  width: 100%;
  height: 50px;
  border: solid 1px transparent;
  font-size: 16px;
  background: #da5161;
  border-radius: 10px;
  font-weight: 500;
  transition: linear .5s;
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #da5161;
  color: #da5161;
}

