*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
}

body {
  height: 100%;
  background-color: #30303f;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 30px 40px;
  height: fit-content;
  color: #30303f;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}

@media all and (max-width: 775px) {
  .app {
    padding: 30px 20px;
  }
}

@media all and (max-width: 375px) {
  .app {
    padding: 20px 10px;
  }
}