*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
}

body {
  height: 100%;
  background-color: #21282d;
}

.app {
  width: 100%;
  padding: 0 10px 50px ;
  height: fit-content;
  background-color: #21282d;
  background-size: cover;
  color: #3b313d;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: capitalize;
}

