.page {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

.post {
  width: 100%;
  margin: 10px auto 80px;
  padding: 40px;
  border-radius: 14px;
  border: solid 1px #a1cdcc;
  background: transparent;
  color: #a1cdcc;
}

.post-title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 600;
  color: #da5161;
}

.title {
  display: inline-block;
  margin-bottom: 40px;
  text-align: left;
  font-size: 44px;
  font-weight: 700;
  color: #a1cdcc;
}

.comments {
  color: #a1cdcc;
}

.comm-item {
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: solid 1px #a1cdcc;
}

.comm-title {
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
}

.comm-email {
  color: #da5161;
}

.icon_post {
  vertical-align: bottom;
  display: inline-block;
  margin: 0 10px 10px 0;
  background-image: url('../../Icons/Blog.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.icon_comments {
  vertical-align: bottom;
  display: inline-block;
  margin: 0 10px 10px 0;
  background-image: url('../../Icons/Comment.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}

.icon_comm {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 10px 0;
  background-image: url('../../Icons/Comment2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

@media all and (max-width: 525px) {
  .post {
    margin-bottom: 30px;
    padding: 15px;
  }

  .post-title,
  .comm-title {
    font-size: 20px;
    line-height: 24px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
  }

  .icon_post,
  .icon_comments {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }

  .icon_comm {
    width: 20px;
    height: 20px;
  }
}

@media all and (max-width: 460px) {
   .post {
      padding: 10px;
    }

    .comm-item p {
      font-size: 16px;
      line-height: 20px;
    }
}

@media all and (max-width: 385px) {
  .comm-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media all and (max-width: 370px) {
  .comm-title {
    font-size: 16px;
    line-height: 18px;
  }

  .comm-item p {
    font-size: 13px;
    line-height: 16px;
  }
}